nav{
    background-color: #222222;
    
    width: 100%;
}
ul{
    height: 50px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
.active{
    color: aquamarine;
    border-radius: 5px;
}